$primary-bg: blue;
$primary-color: #fff;
$secondary-bg: red;
$secondary-color: #fff;

.cta {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  margin: 0;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.35s ease-in-out;
  
  &:hover {
    background-color: transparent;
  }
  
  &--primary {
    background-color: $primary-bg;
    color: $primary-color;
    border: 2px solid $primary-bg;
  }
  
  &--secondary {
    background-color: $secondary-bg;
    color: $secondary-color;
    border: 2px solid $secondary-bg;
  }
}