mixin cta-primary(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.link  = spec.link || '#'

  a.cta.cta--primary(href=spec.url class=spec.__class)&attributes(attributes)=spec.label

mixin cta-secondary(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.link  = spec.link || '#'

  a.cta.cta--secondary(href=spec.url class=spec.__class)&attributes(attributes)=spec.label