mixin card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.isListItem = spec.isListItem || false 

  - tag = spec.isListItem ? 'li' : 'article'

  #{tag}.card&attributes(attributes)
    if spec.url
      a(href=spec.url)
        .card__image
          if supportsIE
            picture
              source(srcset=spec.image)
              img(src=spec.image, alt="")
          else
            img(src=spec.image, alt="")
        .card__text
          h3=spec.title
          p=spec.text
    else
      .card__image
        if supportsIE
          picture
            source(srcset=spec.image)
            img(src=spec.image, alt="")
        else
          img(src=spec.image, alt="")
      .card__text
        h3=spec.title
        p=spec.text
        if spec.hasLinkInText
          +cta({
            "url": spec.url,
            "label": spec.label
          })