//breadcrumb styles 
$breadcrumb-bg-color: transparent;
$breadcrumb-list-padding: 16px 0;
$margin-between-links: 6px;
$link-color: $black;
$active-link-color: $primary;

.breadcrumb {
  background-color: $breadcrumb-bg-color;

  ul {
    @include normalise-list;
    display: flex;
    padding: $breadcrumb-list-padding;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-right: $margin-between-links;

    &:after {
      content: '>';
      display: inline-block;
      margin-left: $margin-between-links;
    }

    &:last-child {
      margin-right: none;
      
      &:after {
        display: none;
      }
    }
  }

  a,
  span {
    line-height: 150%;
  }

  span {
    color: $active-link-color;
  }

  a {
    color: $link-color;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover{
      color: $active-link-color;
      text-decoration: underline;
    }
  }
}