$label-color: $black;
$box-bg-color: #fff;
$box-border-color: $black;
$check-color: $primary;

// checkbox styles
input.checkbox {
  @extend %vh;
  opacity: 0;
  visibility: hidden;

  + label {
    color: $label-color;
    cursor: pointer;
    display: inline-block;
    padding-left: 25px;
    position: relative;

    &:before {
      content: "";
      background: $box-bg-color;
      border: 1px solid $box-border-color;
      display: inline-block;
      height: 18px;
      left: 0;
      margin-right: 10px;
      position: absolute;
      vertical-align: middle;
      width: 18px;
    }

    &:after {
      content: "✓";
      background: $check-color;
      color: #fff;
      height: 18px;
      left: 0;
      opacity: 0;
      position: absolute;
      text-align: center;
      transform: scale(1.5);
      transition: all .15s ease-in-out;
      top: 0;
      visibility: hidden;
      width: 18px;
    }
  }

  &:checked {
    + label {
      &:after {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
      }
    }
  }
}
