mixin text-field(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .text-field(class=spec.__class)&attributes(attributes)
    if spec.__hideLabel
      label.sr-only(for= spec.id)= spec.label
    else
      label.text-field__label(for= spec.id)= spec.label
    input.text-field__input(type= spec.type, placeholder= spec.placeholder, name= spec.name, id= spec.id)
