//rte styles
$table-border: #E3E3E3;
$table-header-bg: $black;
$table-alt-bg: #F9F9F9;
$links-default: red;
$links-visited: blue;
$blockquote-icon: '\e91e';

.rte {
  > *:first-child {
    margin-top: 0;
  }

  h1 {
    font-size: calc-em(32px);
  }

  h2 {
    font-size: calc-em(30px);
  }

  h3 {
    font-size: calc-em(24px);
  }

  h4 {
    font-size: calc-em(20px);
  }

  h5 {
    font-size: calc-em(18px);
  }

  h6 {
    font-size: calc-em(15px);
  }

  table {
    border: 1px solid $table-border;
    border-collapse: collapse;

    th, td {
      padding: 10px;
      border-bottom: 1px solid $table-border;
      min-height: 40px;
    }

    th {
      background-color: $table-header-bg;
			color: #fff;
    }

    tr {
      &:nth-child(odd) {
        background-color: $table-alt-bg;
      }

      &:nth-child(even) {
        background-color: #fff;
      }
    }
  }

  p {
    word-wrap: break-word;

    img {
      margin-bottom: 0;
    }

    @media only screen and (max-width: $bpTablet - 1) {
      // @include clearfix;
    }
  }

  a {
    color: $links-default;

    &:hover {

    }

    &:visited {
      color: $links-visited;
    }
  }

  ol {
    padding-left: 15px;

    > li {
      > ul {
        padding-left: 4px;
      }
    }
  }

  ul {
    padding-left: 19px;
  }

  blockquote {
    padding-top: 70px;
    text-align: center;
    position: relative;
    font-size: calc-em(24px);

    &:before {
      content: $blockquote-icon;
      @extend %icomoon;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: calc-em(48px, 24px);
      color: $primary;
    }

    @media print {
      border: none;
    }
  }
}
