extend ./<%= layout %>

//- Custom Configuration
block append config


block content
  //- Provides layout level markup
  .inner-layout
    //- block breadcrumb
    //- block banner
    block <%= name.toLowerCase() %>Content

