// /* lato-regular - latin */
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Lato Regular'), local('Lato-Regular'),
//        url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//        url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//   font-display: swap;
// }
// /* lato-italic - latin */
// @font-face {
//   font-family: 'Lato';
//   font-style: italic;
//   font-weight: 400;
//   src: local('Lato Italic'), local('Lato-Italic'),
//        url('../fonts/lato-v16-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//        url('../fonts/lato-v16-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//   font-display: swap;
// }
// /* lato-700 - latin */
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Lato Bold'), local('Lato-Bold'),
//        url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//        url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//   font-display: swap;
// }
// /* lato-700italic - latin */
// @font-face {
//   font-family: 'Lato';
//   font-style: italic;
//   font-weight: 700;
//   src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
//        url('../fonts/lato-v16-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//        url('../fonts/lato-v16-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//   font-display: swap;
// }