//Normalize styles
@import '../../node_modules/normalize.css/normalize';

@import '_variables';
@import '_fonts';
@import '_mixins';
@import '_helpers';
@import '_grids';
@import '_icomoon';
// @import '../_icomoon/style.scss';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

picture,
video,
iframe {
  display: block;
  max-width: 100%;
}

iframe {
  border: none;
}

img {
  div:not(.rte) & {
    display: block;
    max-width: 100%;
  }
}

a, button {
  transition: all .3s $easeInOutExpo;
  cursor: pointer;
}

input, button, optgroup, select, textarea {
  font: inherit;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  background: #fff8e2;
  color: #000;
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}

// START: Remove for development
.generator-donut-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
// END: Remove for development

// atom styles
@import '../_modules/atoms/cta/cta';


// molecule styles
@import '../_modules/molecules/card/card';


// organism styles




// Layout overrides

