$icon-color: $black;
$trigger-button-color: $black;
$trigger-button-background: #fff;
$dropdown-list-shadow: $boxShadow;
$trigger-button-hover-color: $black;
$trigger-button-hover-background: #E3E3E3;
$item-color: $black;
$item-background: #F9F9F9;
$item-active-color: $primary;
$item-active-background: #F9F9F9;
$item-hover-color: $primary;
$item-hover-background: #F9F9F9;

//nav-dropdown styles
.nav-dropdown {
  position: relative;
  margin-bottom: 30px;

  &.list-shown {
    ul {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__button {
    background: $trigger-button-background;
    border: 1px solid $trigger-button-color;
    color: $trigger-button-color;
    outline: 0;
    padding: 10px 50px 10px 10px;
    position: relative;
    text-align: left;
    width: 100%;

    &:focus {
      background: $trigger-button-background;
      color: $trigger-button-color;
    }

    &:hover{
      background: $trigger-button-hover-background;
      color: $trigger-button-hover-color;
    }

    .label {
      font-size: calc-em(13px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .icon {
      align-items: center;
      display: flex;
      color: $icon-color;
      font-size: 1em;
      height: 100%;
      justify-content: center;
      position: absolute;
      width: 40px;
      right: 0;
      text-align: center;
      top: 0;
    }
  }

  ul {
    @extend %list-unstyled;
    border: 1px solid $black;
    box-shadow: $dropdown-list-shadow;
    opacity: 0;
    position: absolute;
    transform: scale(0.5);
    transition: transform .25s ease-in-out, opacity .25s ease-in-out, visibility .25s ease-in-out;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    z-index: 999;

    li {
      &.active {
        a {
          color: $item-active-color;
        }
      }

      a {
        background: $item-background;
        color: $item-color;
        display: block;
        padding: 15px;
        text-decoration: none;

        &:hover, &:focus {
          background: $item-hover-background;
          color: $item-hover-color;
        }

        .icon {
          font-size: 1.3em;
          margin-right: 10px;
        }
      }
    }
  }
}
