mixin select-field(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .select-field&attributes(attributes)
    if spec.label
      label.select-field__label(for= spec.id)= spec.label
    select(name= spec.name, id= spec.id)
      each option in spec.options
        if option.selected
          option(value= option.value selected)= option.name
        else
          option(value= option.value)= option.name
