mixin site-footer(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  footer.site-footer
    .container
      button(type="button").btn.btn-scroll-top
        span.label To Top
        span.icon.icon-arrow-up

      section.site-footer__top
        if spec.nav
          nav.site-footer__nav
            ul
              each lvl1 in spec.nav
                li
                  a(href=lvl1.url)=lvl1.label

      section.site-footer__middle
        // site footer middle contents

      section.site-footer__bottom
        if spec.footer.copyrighttext
          span.site-footer__copyright=spec.footer.copyrighttext
        nav.site-footer__nav
          if spec.footer.otherlinks
            ul
              each link in spec.footer.otherlinks
                li
                  a(href=link.url)=link.label