$separator-color: $border;
$header-bg-color: $primary;
$header-color: #fff;
$body-bg-color: #fff;
$expanded-header-color: #fff;
$expanded-header-bg-color: $primary;
$header-hover-color: #fff;
$header-hover-bg-color: darken($primary, 10%);

// accordion styles
.accordion {
  margin-bottom: 30px;

  .tab-content & {
    margin-bottom: 0;
  }

  @media only screen and (min-width: $bpDesktop){
    margin-bottom: 50px;
  }

  .accordion-item {
    margin-bottom: 10px;

    .accordion-title {
      background: $header-bg-color;
      color: $header-color;
      display: block;
      padding: 15px 45px 15px 15px;
      position: relative;
      text-decoration: none;

      &:hover {
        background: $header-hover-bg-color;
        color: $header-hover-color;
      }

      h3 {
        font-size: calc-em(20px);
        font-weight: normal;
        margin-bottom: 0;
        transition: all .25s ease-in-out;
      }

      .icon {
        display: flex;
        // font-size: 1em;
        height: 100%;
        align-items: center;
        position: absolute;
        right: 15px;
        transition: transform .25s ease-in-out;
        top: 0;
      }
    }

    .accordion-content {
      background: $body-bg-color;
      border: 1px solid $separator-color;
      display: none;
      padding: 20px 15px;
    }

    &.expanding {
      .accordion-title {
        .icon {
          transform: rotate(180deg);
        }
      }
    }

    &.expanded {
      .accordion-title {
        .icon {
          transform: rotate(180deg);
        }
      }

      .accordion-title {
        background: $expanded-header-bg-color;
        color: $expanded-header-color;

        &:hover {
          background: $header-hover-bg-color;
          color: $header-hover-color;
        }
      }
    }
  }
}