mixin accordion(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .accordion
    if block
      block
    else
      +accordion-item({
        "title": "Accordion 1",
        "id": "accordion-1"
      })
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, sint? Repudiandae veniam labore velit impedit quos excepturi ex quaerat laudantium.
      +accordion-item({
        "title": "Accordion 2",
        "id": "accordion-2"
      })
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus reprehenderit ea quibusdam reiciendis quae. Quisquam voluptate modi sint! Beatae, quos?
      +accordion-item({
        "title": "Accordion 3",
        "id": "accordion-3"
      })
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio minus facere autem fugit nam aut accusamus quisquam excepturi. Temporibus voluptas sit vel reiciendis necessitatibus suscipit facere totam obcaecati natus quas!

mixin accordion-item(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .accordion-item(id=spec.__id class=spec.__class)&attributes(attributes)
    a.accordion-title(href="#" + spec.id)
      span= spec.title
      span.icon.icon-chevron-down
    .accordion-content(id= spec.id)
      if block
        block
      else
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptas cum ratione voluptates reprehenderit adipisci omnis quisquam neque earum. Non ut debitis, maiores accusamus iure error id animi voluptate cumque.
