$scrollbar: #aaa;
$scrollbar-background: #ddd;
$dropdown-list-shadow: 2px 2px 10px 0 transparentize(#000, .8);
$trigger-button-color: #000;
$trigger-button-background: #fff;
$trigger-button-hover-color: #000;
$trigger-button-hover-background: #aaa;
$icon-color: #000;
$item-background: #fff;
$item-color: #000;
$selected-item-color: #000;
$selected-item-background: #aaa;
$disabled-item-background: #ddd;
$disabled-item-color: #aaa;
$item-hover-color: #000;
$item-hover-background: #aaa;
$list-max-height: 220px;

.custom-select {
  select {
    @include visuallyhidden();
  }

  &__custom-dropdown {
    display: inline-block;
    min-width: 200px;
    position: relative;

    &.list-shown {
      .custom-list {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        pointer-events: auto;
      }
    }

    /* Trigger button for dropdown */
    .custom-trigger {
      background: $trigger-button-background;
      border: 1px solid $trigger-button-color;
      color: $trigger-button-color;
      outline: 0;
      padding: 10px 50px 10px 10px;
      position: relative;
      text-align: left;
      width: 100%;

      /* Trigger button hover */
      &:hover, &:focus {
        background: $trigger-button-hover-background;
        color: $trigger-button-hover-color;
      }

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .icon {
        align-items: center;
        display: flex;
        color: $icon-color;
        height: 100%;
        justify-content: center;
        position: absolute;
        width: 40px;
        right: 0;
        text-align: center;
        top: 0;
      }
    }

    /* Customized dropdown list */
    .custom-list {
      @extend %list-unstyled;
      background: $item-background;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: $dropdown-list-shadow;
      max-height: $list-max-height;
      opacity: 0;
      overflow: auto;
      position: absolute;
      // MOZ
      scrollbar-color: $scrollbar $scrollbar-background;
      scrollbar-width: thin;
      // IE 11
      scrollbar-face-color: $scrollbar;
      scrollbar-track-color: $scrollbar-background;
      transform: scale(0.5);
      transition: transform .25s ease-in-out, opacity .25s ease-in-out, visibility .25s ease-in-out;
      visibility: hidden;
      width: 100%;
      z-index: 999;
      pointer-events: none;

      &::-webkit-scrollbar {
        width: 5px;
        background: $scrollbar-background;
      }

      &::-webkit-scrollbar-thumb {
        background: $scrollbar;
        border-radius: 5px;
      }

      li {
        /* Selected item */
        &.active {
          button {
            background: $selected-item-background;
            color: $selected-item-color;
          }
        }

        /* Disabled item */
        &.disabled {
          button {
            background: $disabled-item-background;
            color: $disabled-item-color;

            &:hover, &:focus {
              cursor: not-allowed;
              background: $disabled-item-background;
              color: $disabled-item-color;
              pointer-events: none;
            }
          }
        }

        /* Dropdown items */
        button {
          background: $item-background;
          border: 0;
          color: $item-color;
          display: block;
          outline: 0;
          padding: 10px;
          text-align: left;
          width: 100%;

          /* Dropdown items hover */
          &:hover, &:focus {
            background: $item-hover-background;
            color: $item-hover-color;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .custom-select {
    &__custom-dropdown {
      display: block;
    }
  }
}
