mixin custom-select(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .custom-select&attributes(attributes)
    label(for= spec.id)= spec.label
    select(name= spec.name, id= spec.id)
      each option in spec.options
        if (option.disabled)
          option(value= option.value, disabled = true)= option.name
        else
          option(value= option.value, selected = (option.selected))= option.name
