include ../../atoms/checkbox/checkbox

mixin checkboxes(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  - var displayStyle = spec.isExpandable ? 'display: block;' : ''
  .checkboxes(class=spec.__class)&attributes(attributes)
    if spec.isExpandable
      a.checkboxes__label(href="#")
        span= spec.label
        span.icon.icon-angle-down
    else
      if spec.label
        p.checkboxes__label= spec.label
    ul.checkboxes__list(style=displayStyle)
      if spec.allLabel
        li.is-hidden
          +checkbox({
            "id": spec.name + "all",
            "name": spec.name,
            "value": "all",
            "label": spec.allLabel
          })
      each option, index in spec.options
        li
          +checkbox({
            "id": spec.name + index,
            "name": spec.name,
            "value": option.value,
            "label": option.label
          })

          if option.children
            ul.checkboxes__list
              each child, index in option.children
                li
                  +checkbox({
                    "id": spec.name + option.value + index,
                    "name": spec.name,
                    "value": child.value,
                    "label": child.label
                  })

mixin checkboxes-event-discovery(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .checkboxes(class=spec.__class)&attributes(attributes)
    p.checkboxes__label=spec.label
    a.checkboxes__toggle(href="#")
      span= spec.label
      span.icon.icon-angle-down
    ul.checkboxes__list
      each option, index in spec.options
        li
          +checkbox({
            "id": spec.name + index,
            "name": spec.name,
            "value": option.value,
            "label": option.label
          })
