$pagination-ajax-color: #00324c;

.pagination-ajax {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: $pagination-ajax-color;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-align: left;
    width: 100%;
  }

  li {
    list-style: none;
    font-size: calc-em(17px);
    margin: 0 22px;
    color: $pagination-ajax-color;
  }

  &__page {
    font-weight: 400;
  }

  &__page:not(.page--current) {
    button {
      outline-offset: 5px;
    }

    &:hover button {
      text-decoration: underline;
      font-weight: 700;
    }
  }

  .page--current {
    background-color: $pagination-ajax-color;
    min-width: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: 700;
  }

  &__next,
  &__prev {
    cursor: pointer;

    button {
      display: flex;
      align-items: center;
      font-weight: 400;
    }

    i {
      padding: 0 8px;
      font-size: calc-em(24px);
      color: $pagination-ajax-color;
      transition: transform 0.4s;
    }
  }

  &__next:hover {
    button {
      font-weight: 700;
    }

    i {
      transform: translateX(8px);
    }
  }

  &__prev:hover {
    button {
      font-weight: 700;
    }

    i {
      transform: translateX(-8px);
    }
  }

  //Mobile
  @media (max-width: $bpTablet - 1) {
    li {
      margin: 0 12px;
    }

    &__next,
    &__prev {
      i {
        padding: 0 6px;
      }
    }
  }

  //Small mobile
  @media (max-width: $bpLgMobile - 1) {
    li {
      margin: 0 6.5px;
      font-size: calc-em(15px);
    }

    &__next,
    &__prev {
      i {
        padding: 0 4px;
      }
    }
  }
}
