mixin pagination(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  - var pageUrl = spec.pageUrl || ''
  - var paddingSize = spec.paddingSize || 4
  - var currentPage = spec.currentPage || 1
  - var totalPages = spec.totalPages || 10

  ul.pagination
    if (currentPage - paddingSize > 1)
      li.pagination-first
        a(href= pageUrl + '?page=1', title='Go to page 1') First
      li.pagination-prev
        a(href= pageUrl + '?page=' + (currentPage - 1), title='Go to page ' + (currentPage - 1)) Previous

    if (currentPage - paddingSize > 1)
      li.pagination-ellipsis
        span ...

    - var start = (currentPage - paddingSize > 1) ? currentPage - paddingSize : 1
    - var end = (currentPage + paddingSize >= totalPages) ? totalPages : currentPage + paddingSize

    - var i = start;
    while (i <= end)
      li(class= (currentPage == i) ? 'active' : '')
        a(href= pageUrl + '?page=' + i, title = 'Go to page ' + i) #{i}
      - i++

    if (currentPage + paddingSize < totalPages)
      li.pagination-ellipsis
        span ...

    if (currentPage + paddingSize < totalPages)
      li.pagination-next
        a(href= pageUrl + '?page=' + (currentPage + 1), title = 'Go to page ' + (currentPage + 1)) Next
      li.pagination-last
        a(href= pageUrl + '?page=' + totalPages, title= 'Go to page ' + totalPages) Last


mixin pagination-ajax(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  ul.pagination
