// Modules
include ../_modules/organisms/site-header/site-header
include ../_modules/organisms/site-footer/site-footer

//- Custom Configuration
block config
  //- Otherwise default to relative pathing
  - var baseUrl = './'
  - var site = htmlWebpackPlugin.options
  - var siteData = site.data
  - var global = siteData.global

  - var isHome = false
  - var siteName = '<%= name %>'

  - var pageTitle = 'Home'
  - var pageDescription = 'This is the page description'
  - var pageUrl = '/'
  - var supportsIE = true

doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title= (isHome) ? pageTitle : pageTitle + ' | ' + siteName
  link(rel="canonical", href= pageUrl)

  //- The address bar color in Chrome mobile
  //- meta(name="theme-color", content="#ffe600")

  meta(name="robots", content="follow")
  meta(name="author", content="")
  meta(name="copyright", content="")
  meta(name="description", content= pageDescription)
  meta(name="keywords", content="")

  //- Facebook / Pinterest
  meta(property="og:title", content= title)
  meta(property="og:type", content="")
  meta(property="og:url", content= pageUrl)
  meta(property="og:image", content="")
  meta(property="og:description", content= pageDescription)
  meta(property="og:site_name", content="")
  meta(property="article:published_time" content="")
  meta(property="article:author" content="")

  //- Twitter
  meta(name="twitter:card", content="summary")
  meta(name="twitter:creator", content="")
  meta(name="twitter:url", content= pageUrl)

  meta(name="twitter:title", content= title)
  meta(name="twitter:description", content= pageDescription)
  meta(name="twitter:image", content="")


  // preload critical assets
  link(rel="preload" href="{{FONT_URL}}" as="font" type="font/woff2" crossorigin)
  link(rel="preload" as="style" href="/assets/styles/main.css")
  link(rel="preload" as="script" href="/assets/scripts/main.js")
  // style for first fold elements
  style.
    .site-header{}.breadcrumbs{}

  block stylesheets
    link(rel='stylesheet', href= '/assets/styles/main.css')
  
  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
  link(href="/favicon.ico", rel="icon", type="image/x-icon")

body
  <!--[if lt IE 9]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  a.sr-only(href="#mainContent") Skip to main content 

  //- Site Header
  //- +site-header(global)

  main#mainContent
    block content

  //- Site Footer
  //- +site-footer(global)

  block scripts
    script(src= '/assets/scripts/main.js' defer)

</html>
