extends ./base

include ../_modules/common/rte/rte

include ../_modules/molecules/side-navigation/side-navigation

//- Custom Configuration
block append config


block content
  //- Provides layout level markup
  .inner-layout
    block breadcrumb

    .container
      .row
        aside.col-md-3.col-sm-3
          block standardAside
        article.col-md-9.col-sm-9
          block standardContent
