include ../text-field/text-field
include ../select-field/select-field
include ../checkboxes/checkboxes
include ../radio-buttons/radio-buttons
include ../date-field/date-field
include ../combo-box/combo-box

mixin search-filters(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .search__filters(class=spec.__class)&attributes(attributes)
    button.btn.search-toggle(type="button")
      span.icon.icon-filter
      span Filters
    .search__filters-wrapper
      .search__filters-header
        p.search__filters-title Refine your results
        button(type="button")
          span.icon.icon-cross
      .search__filters-body
        .search__filters-body--wrapper
          if spec.inputs
            each input in spec.inputs
              +text-field({
                "__hideLabel": input.__hideLabel,
                "id": input.id,
                "label": input.label,
                "type": input.type,
                "name": input.name,
                "placeholder": input.placeholder
              })

          if spec.dateInputs
            each dateInput in spec.dateInputs
              +date-field({
                "__hideLabel": dateInput.__hideLabel,
                "id": dateInput.id,
                "label": dateInput.label,
                "name": dateInput.name
              })

          if spec.dropdowns
            each dropdown in spec.dropdowns
              +select-field({
                "id": dropdown.id,
                "label": dropdown.label,
                "name": dropdown.name,
                "options": dropdown.options
              }).eyd-custom-select

          if spec.comboboxes
            each combobox in spec.comboboxes
              +combo-box({
                "name": combobox.name,
                "label": combobox.label,
                "options": combobox.options
              })

          if spec.radioButtons
            each radioGroup in spec.radioButtons
              if radioGroup.isHidden
                +radio-buttons({
                  "label": radioGroup.label,
                  "name": radioGroup.name,
                  "options": radioGroup.options,
                  "isExpandable": true,
                  "__class": "expanded is-hidden"
                })
              else
                +radio-buttons({
                  "label": radioGroup.label,
                  "name": radioGroup.name,
                  "options": radioGroup.options,
                  "isExpandable": true,
                  "__class": "expanded"
                })

          if spec.filters
            each filter in spec.filters
              +checkboxes({
                "label": filter.label,
                "name": filter.name,
                "allLabel": filter.allLabel,
                "options": filter.options,
                "isExpandable": true,
                "__class": "expanded"
              }).filter-group
          
          if spec.hybridFilters
            each filter in spec.hybridFilters
              if filter.options.length > 5
                +combo-box({
                  "name": filter.name,
                  "label": filter.label,
                  "options": filter.options
                })
              else
                +checkboxes({
                  "label": filter.label,
                  "name": filter.name,
                  "allLabel": filter.allLabel,
                  "options": filter.options,
                  "isExpandable": true,
                  "__class": "expanded"
                }).filter-group
      .search__filters-footer
        if spec.noFilterBtn
          button.btn.btn-filter(type="submit") Filter
        button.btn.btn-reset(type="reset") Reset
