mixin jumbotron(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.jumbotron&attributes(attributes)
    .jumbotron__image
      if supportsIE
        picture
          source(srcset=spec.image)
          img(src=spec.image, alt="")
      else
        img(src=spec.image, alt="")
    .jumbotron__text
      h3=spec.title
      p=spec.text
      +cta({
        "url": spec.url,
        "label": spec.label
      })