mixin tab-content(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.tab-content(class=spec.__class)&attributes(attributes)
    each item, index in spec.items
      .tab-content__content(id= item.id class=item.__class data-sf-element="tab" data-placeholder-label=item.name)
        != item.content


