mixin radio-button(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  if spec.checked
    input.radio(type="radio", name= spec.name, id= spec.id checked value=spec.value)
  else
    input.radio(type="radio", name= spec.name, id= spec.id value=spec.value)
  label(for= spec.id)= spec.label
