//combo-box styles
$border-color: $black;
$color: $black;
$background: #E3E3E3;
$input-border: #BABABA;

.combo-box {
  $p: &;
  position: relative;

  &.opened {
    #{$p}__options {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__trigger {
    background: #fff;
    border: 1px solid $border-color;
    color: $color;
    cursor: pointer;
    display: block;
    outline: 0;
    overflow: hidden;
    padding: 10px 50px 10px 10px;
    position: relative;
    text-align: left;
    transition: background .3s $easeInOutExpo;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 0;

    &:hover {
      background: $background;
    }

    .icon {
      align-items: center;
      display: flex;
      color: $color;
      height: 100%;
      justify-content: center;
      position: absolute;
      width: 40px;
      right: 0;
      text-align: center;
      top: 0;
    }
  }

  &__options {
    background: #fff;
    border: 1px solid $border-color;
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: scale(0.5);
    transition: transform .25s $easeInOutExpo, opacity .25s $easeInOutExpo, visibility .25s $easeInOutExpo;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;

    ul {
      @extend %list-unstyled;
      @extend %clearfix;
      overflow: auto;
      padding: 10px 20px 10px 10px;
      margin-bottom: 10px;
      max-height: 350px;

      // MOZ
      scrollbar-color: $primary $background;
      scrollbar-width: thin;
      // IE 11
      scrollbar-face-color: $primary;
      scrollbar-track-color: $background;

      &::-webkit-scrollbar {
        width: 5px;
        background: $background;
      }

      &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 5px;
      }

      li {
        float: left;
        margin-bottom: 0.5rem;
        width: 100%;
      }
    }
  }

  &__search {
    padding: 10px;

    input {
      border: 1px solid $input-border;
      padding: 10px;
      width: 100%;
    }
  }
}
