extends <%= urlPath %><%= layoutDir %>/<%= layout %>

block append stylesheets

block append scripts

block append config
  //- Correct base url pathing for this page
  - baseUrl = '<%= urlPath %>'
  - pageTitle = '<%= name.toLowerCase() %>'

//- block breadcrumb
  //- +breadcrumb()

//- block banner
  //- +banner()

block <% if (layout === 'base') { %>content<% } else{ %><%= layout %>Content<% } %>
  p <%= name.toLowerCase() %> page
