mixin side-navigation(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .side-navigation&attributes(attributes)
    header.side-navigation__header
      p=spec.title
    nav.side-navigation__nav
      ul
        each item in spec.nav
          li
            a(href=item.url)=item.label