$padding-between-list-items: 8px 0;
$list-item-border: gray;
$inner-list-padding: 0 0 0 20px;

.side-navigation {
  &__header {
    p {
      font-weight: bold;
      font-size: calc-em(18px);
    }
  }

  &__nav {
    ul {
      @include normalise-list;

      ul {
        padding: $inner-list-padding;
      }
    }

    li {
      padding: $padding-between-list-items;
      border-bottom: 1px solid $list-item-border;

      &:last-child {
        border: none;
      }
    }

    a {
      color: $link-color;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover{
        color: $active-link-color;
        text-decoration: underline;
      }
    }
  }
}